.infos {
    background-color: #ffffff;
    border: 2px #36177E solid;
}
.infos h6 {
    color:#36177E;
    font-weight: 600!important;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px #36177E solid ;
}
.infos .form-control {
    background-image: none;
    background-color: #ffffff;
    font-size: 1.5rem;
    font-weight: 500 !important;
    color: #000000;
    border: 2px rgba(0, 0, 0, 0.38) solid;
    display: inline-block;
}


.infos .inner-form .row {
    align-items: center;
    justify-content: space-between;
}

.infos .inner-form .form-control {
    font-size: 1rem;
}

.infos .inner-form .input-select {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.infos .btn-primary {
    color: rgba(255, 255, 255, 1);
    background-color: #36177E !important;
    border-radius: 0;
}

.infos .btn-primary:hover {
    background-color: rgba(54, 23, 126, 0.6) !important;
}

.infos .btn-primary:focus, .infos .btn-primary:active {
    outline: none !important;
    box-shadow: none !important;
}

.infos .col-info-right h4 {
    color: #36177E;
}
.form-control.invalid {
    border:2px red solid!important;
}
.repeat-password {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #f44336;
    display: none;
}
.repeat-password.show {
    display: inline-block;
}
.save-success {
    color:#087E00;
    font-weight: 500!important;
    display:none;
}
.save-success.show {
    display: block;
}
@media (min-width: 1400px) {
    .infos {
        padding: 1rem 1rem 3.75rem 1rem;
    }

    .infos .inner-form .row {
        margin-bottom: 1.75rem;
    }

    .infos .inner-form .form-control {
        padding: 0 1rem;
        height: 3.5rem;
    }

    .infos .inner-form .input-select .custom-control {
        margin-right: 4.5rem;
    }

    .infos .custom-control-label:after, .infos .custom-control-label:before {
        top: 0.5rem;
    }

    .infos .btn-primary {
        padding: 0.625rem 9.625rem;
    }

    .infos .col-info-right {
        padding-left: 4rem;
    }

    .infos .col-info-right h4 {
        margin-bottom: 3.75rem;
    }
}